.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:greenyellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    height: 100px;
}

.contact-form button {
    background-color: #301dde;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #555;
}

.navbar {
    background-color: hsl(226, 83%, 50%);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-list li {
    display: inline;
}

.navbar-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-list li a:hover {
    background-color: hwb(255 13% 85%);
}


.footer {
    background-color: #276ad5;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed; 
    bottom: 0; 
}

.footer-nav {
    margin-bottom: 10px;
}

.footer-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-nav-list li {
    display: inline;
}

.footer-nav-list li a {
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

.footer-nav-list li a:hover {
    text-decoration: underline;
}
